:root {
  --morado: #9538d9;
  --blanco: #f0efef;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Playpen Sans", sans-serif;
  background-color: var(--blanco);
}

header {
  color: var(--blanco);
  background-color: var(--morado);
  height: 7vh;
  display: flex;
  align-items: center;
}
header h1 {
  /* font-family: 'Playpen Sans', sans-serif; */
  padding: 7px;
  font-size: 2em;
}

.figura {
  cursor: pointer;
  width: 500px;
}

.menu_container {
  display: flex;
  gap: 30px;
  margin: 15px auto;
  width: 440px;
  align-items: center;
}

.main_figura{
  margin: 10px 5px;
  width: 400px;
  height: 400px;
}

.regtangulo {
  height: 200px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
}

.partes {
  font-size: 2em;
  font-weight: bold;
}

.boton {
  height: 70px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: transparent;
  font-family: "Playpen Sans", sans-serif;
  font-size: 1.7em;
  cursor: pointer;
}

.boton:hover {
  background-color: rgb(201, 201, 201);
}

.botones {
  display: grid;
  grid-template-columns: 70px 70px 70px;
  gap: 10px;
}

.data {
  font-size: 2em;
  margin-bottom: 10px;
}
#resolver {
  width: 422px;
  height: 59px;
  background-color: #3fa64f;
  color: var(--blanco);
  border-radius: 24px;
  font-size: 2em;
  font-family: "Playpen Sans", sans-serif;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.final {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#resolver:hover {
  background-color: #296d33;
}

.datos {
  display: flex;
}

.enviar {
  grid-column: 1/4;
}

#modal {
  background-color: transparent;
  height: 50px;
}

#popup {
  width: 400px;
  height: 400px;
  background-color: #f0efef;
}

#resul {
  font-size: 1.7em;
  text-align: center;
  font-weight: bold;
}

#close-modal {
  color: #000;
}

#close-modal:hover {
  color: rgb(170, 170, 170);
}

.personaje {
  width: 250px;
  position: relative;
  left: 150px;
  top: 40px;
}

.div_figuras {
  display: none;
}

.visible {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  body {
    overflow: auto;
  }
  .main {
    margin-top: 100px;
    flex-direction: column;
    gap: 30px;
  }

  .regtangulo{
    height: 100px;
  }
  
  header h1{
    font-size: 1.6em;
  }
  .main_figura{
    width: 300px;
    height: 300px;
  }
  .regtangulo{
    height: 100px;
  }

}

@media screen and (max-width: 700px){
    .figura{
        width: 60px;
    }
    .menu_container{
        gap: 10px;
        width: 100vw;
        justify-content: center;
    }

    .main_figura{
        width: 200px;
        height: 200px;
    }

    #resolver{
        width: 300px;
    }

    .partes{
        font-size: 1.3em;
    }

    #popup{
        width: 300px;
        height: 300px;
    }
    .personaje{
        width: 150px;
    }
}

@media screen and (max-height: 800px) {
    
    .menu_container{
        width: 100vw;
        justify-content: center;
    }
    .figura{
        width: 70px;
    }
    .main_figura{
        width: 200px;
        height: 200px;
    }

    .partes{
        font-size: 1.4em;
    }

    .boton{
        height: 40px;
        font-size: 1em;
    }

    .botones{
        grid-template-columns: 40px 40px 40px;
    }
    .data{
        font-size: 1.2em;
    }

}
